html {
	font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high */
	font-family: 'Bungee Inline', cursive;
	background-color: #C5CAE9;
}

h1 {
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 1px black;
	font-size: 60px;
	text-align: center;
	color: purple;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	color: #01579B
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #61E6D2;
	padding: 0px 20px 20px 20px;
	border: 5px solid black;
}

img {
	display: block;
	margin: 0 auto;
}